#忽略__pycache__
**__pycache__**

#忽略.idea
.idea/

#忽略.vscode
.vscode/

#忽略.pyc
*.pyc

#忽略pylintrc
pylintrc

#忽略pycharm
*.pycharm

#忽略pydev
*.pydev

#忽略pydev
*.pydevproject

#忽略pydev
*.pydevp

#忽略pydev
*.pydevwork

#忽略pydev
*.pydevproj

#忽略pydev
*.pydev

#忽略pydev
*.pydev

#忽略pydev
*.pydev